<phpunit bootstrap="./protected/tests/bootstrap.php"
    colors="true"
    strict="true"
    verbose="true"
>
  <testsuites>
    <testsuite name="Ws Wp Test">
      <!-- <file>./test/wordpressTest.php</file> -->
      <directory suffix="Test.php">./protected/tests/unit</directory>
    </testsuite>
  </testsuites>
</phpunit>

<!-- <phpunit bootstrap="bootstrap.php" -->
<!-- 		colors="false" -->
<!-- 		convertErrorsToExceptions="true" -->
<!-- 		convertNoticesToExceptions="true" -->
<!-- 		convertWarningsToExceptions="true" -->
<!-- 		stopOnFailure="false"> -->

<!-- 	<selenium> -->
<!-- 		<browser name="Internet Explorer" browser="*iexplore" /> -->
<!-- 		<browser name="Firefox" browser="*firefox" /> -->
<!-- 	</selenium> -->

<!-- </phpunit> -->